.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
}

.footer p {
    color: #ddd;
    margin: 0;
}
table {
    margin:auto;
    table-layout: auto;
    width: 90%;
    margin-bottom: 150px;
}
.center {
    text-align: center;
}
table td {
    border: 1px solid #ccc;
}

table a {
    padding: 0 15px;
    text-decoration: none;
    border-right: 1px solid black;
}
.color{
    background-color: #dfe6e9;
}

.color-tr{
    background-color: #444;
}
.dashboardh2 {
    color: white;
}